:root {
    --gridSize: 50px;
}

h1 {
    color: orange;
}

.container {
  display: inline-grid;
  grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
  background-color: lightblue; 
}

.room {
  border: 1px solid;
  font-size: 50%;
  text-align: center;
}

#living-room {
    /* grid-row-start / grid-column-start / grid-row-end / grid-column-end 
    into one line using grid-area */
  grid-area: 1 / 1 / 3 / 6;
}

#bedroom {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

#bathroom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

#closet {
    grid-column: 2/4;
    grid-row: 5/6;
}

#kitchen {
    grid-column: 4/6;
    grid-row: 3/6;
}