.container {
  margin: 0 25%;
  width: 50%;
  height: 50vh;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  background-color: lightblue;  
}

.room {
  border: 1px solid;
  font-size: 50%;
  text-align: center;
  font-size: 1rem;
}

#living-room {
  grid-area: 1 / 5 / 5 / 6;
}

#kitchen {
  grid-area: 1 / 1 / 3 / 5;
}

#bedroom {
  grid-area: 4 / 3 / 6 / 5;
}

#bathroom {
  grid-area: 4 / 1 / 6 / 3;
}

#closet {
  grid-area: 5 / 5 / 6 / 6;
}
